{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personnages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Size</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            <tr>
                <td><a href="{{ path('personnage_show', { 'id': personnage.id }) }}">{{ personnage.id }}</a></td>
                <td>{{ personnage.name }}</td>
                <td>{{ personnage.description }}</td>
                <td>{{ personnage.size }}</td>
                <td>{{ personnage.age }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personnage_show', { 'id': personnage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personnage_edit', { 'id': personnage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personnage_new') }}">Create a new personnage</a>
        </li>
    </ul>
{% endblock %}
