{% extends 'base.html.twig' %}
{% block body %}
    <section class="perso">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active vicelardOne">
                    <h1 class="vicelardName">Léa</h1>
                    <P>Profile-type: Petite vicelarde Française, bouffeuse de fromage, grèviste hors pair et partisanne du "JAMAIS CONTENT !"</P>
                    <button class="btn vicelardBtn">
                        <a href="{{ '/characterChoise' }}">
                            Choisir
                        </a>
                    </button>
                    <img class="d-block w-100" src="/assets/images/vicelard_lea.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <h1 class="vicelardName">Kevin.M</h1>
                    <P>Profile: Grand vicelard Africain, bouffeur de manioque, sprinter professionnel !</P>
                    <button class="btn vicelardBtn">
                        <a href="{{ '/characterChoise' }}">
                            Choisir
                        </a>
                    </button>
                    <img class="d-block w-100" src="/assets/images/vicelard_kevin_m.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <h1 class="vicelardName">Antho (dit Toto)</h1>
                    <P>Profile: Gros vicelard Texan, bouffeur de Texmex, danseur de country et tireur d'élite sur mexicain !</P>
                    <button class="btn vicelardBtn">
                        <a href="{{ '/characterChoise' }}">
                            Choisir
                        </a>
                    </button>
                    <img class="d-block w-100" src="/assets/images/vicelard_antho.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <h1 class="vicelardName">Kevin.L</h1>
                    <P>Profile: Gros vicelard mexicain, bouffeur de tacos, danseur de salsa et grimpeur hors pair!</P>
                    <button class="btn vicelardBtn">
                        <a href="{{ '/characterChoise' }}">
                            Choisir
                        </a>
                    </button>
                    <img class="d-block w-100" src="/assets/images/vicelard_kevin_l.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <h1 class="vicelardName">Gauthier</h1>
                    <P>Profile: Jeune vicelard Russe, buveur de vodka, danseur de chaise musiqcale à Marseille et grand amoureux de son président!</P>
                    <button class="btn vicelardBtn">
                        <a href="{{ '/characterChoise' }}">
                            Enter
                        </a>
                    </button>
                    <img class="d-block w-100" src="/assets/images/vicelard_gauthier.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <h1 class="vicelardName">Max</h1>
                    <P>Profile: bouffeur de tacos, danseur de salsa et grimpeur hors pair!</P>
                    <button class="btn vicelardBtn">
                        <a href="{{ '/characterChoise' }}">
                            Choisir
                        </a>
                    </button>
                    <img class="d-block w-100" src="/assets/images/vicelard_max.png" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section></section>
{% endblock %}

