{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vice in vices %}
            <tr>
                <td><a href="{{ path('vice_show', { 'id': vice.id }) }}">{{ vice.id }}</a></td>
                <td>{{ vice.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vice_show', { 'id': vice.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vice_edit', { 'id': vice.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vice_new') }}">Create a new vice</a>
        </li>
    </ul>
{% endblock %}
